body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  background-image: url("https://www.elespanol.com/branded/hp-seguridad-informatica/img/animation-01.gif");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 800px 50px;
}
.divOr {
  margin: 0;
  margin-left: 26%;
  color: #3f85ec;
  width: max-content;
  position: absolute;
  margin-top: 0.45%;
  font-weight: bold;
  font-size: 130%;
}
.divLorem {
  font-size: 130%;
  text-align: center;
  margin-top: 5.5%;
  margin-right: 45%;
  float: right;
  width: max-content;
}
.lorem {
  font-weight: bold;
  color: white;
  margin: 0;
}

.parplorem {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
}

@keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #12cdd4;
  }
}
