.Login {
  margin-top: 5%;
  margin-left: 17%;
  font-size: 120%;
  padding-left: 3%;
  padding-right: 3%;
  color: #6683ee;
  background-color: #000000;
  border-radius: 10%;
  border-color: #12cdd4;
  box-shadow: 1px 1px 15px turquoise;
  position: relative;
}
.hoverLogin:hover {
  box-shadow: 1px 1px 15px #6683ee;
  cursor: pointer;
}
.Register {
  margin-top: 2%;
  margin-left: 17.5%;
  font-size: 120%;
  padding-left: 2%;
  padding-right: 2%;
  color: #6683ee;
  background-color: #000000;
  border-radius: 10%;
  border-color: #12cdd4;
  box-shadow: 1px 1px 15px turquoise;
}
.Register:hover {
  box-shadow: 1px 1px 15px #6683ee;
  cursor: pointer;
}
